.container{
  padding: 20px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.button{
  margin: 0 0 5px;
  width: 120px;
  height: 30px;
}

.submit__button{
  margin-right: 5px;
}

.mat-form-field-wrapper{
  padding-bottom: 15px;
}

.add__button{
  margin-top: 15px;
}

.emails{
  display: flex;
  justify-content: space-between;
}

.close__button{
  margin-left: 15px;
  width: 30px;
}
